.titre {
    font-weight: bold;
}

#home {
    color: white;
    background-color: #2450a8;
    font-size:90%;
}

.navbar-default {
    color: white;
    background-color: #2a7ccf;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #6DD84D;
    color: white;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
    font-weight: bold;
}

.fa-globe {
    color: white;
    padding-top: 10px;
    padding-right:20px;
}

.tab-content {
    padding: 15px 0px;
}

.column {
    padding: 15px 50px;
}

.column>h3 {
    color: #2a7ccf;
    padding-bottom: 5px;
    margin-top: 0;
}

.underlined {
    border-bottom: 1px lightgray solid;
}

.left-sidelined {
    border-left: 1px lightgray solid;
}

#station_name {
    font-size: 22px;
}

.table_label {
    border-left: 1px lightgray solid;
    padding: 10px;
    width: 35%;
}

.table_value {
    border-right:  1px lightgray solid;
    text-align: center;
    width: 15%;
    font-weight: bold;
}

table {
    width: 100%;
    border-bottom: 1px lightgray solid;
    border-top: 12px #2a7ccf solid;
}

table tr {
    height: 2em;
}

.bubble_red, .bubble_green, .bubble_grey {
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
}

.bubble_red {
    background-color: red;
}

.bubble_green {
    background-color: green;
}

.bubble_grey {
    background-color: grey;
}

.impair {
    background-color: #eee;
}