body {
    margin: 0;
    padding: 0px 100px;
}

.header {
    padding: 20px 0px;
    text-align: center;
    color: mediumblue;
}

.horizontal_menu {
    background-color: #333;
    color: white;
    padding: 0;
    font-size: 0px;
    width: 100%;
}

.main_rubric {
    display: inline-block;
    text-align: center;
    width: 25%;
    margin: 0;
    padding: 16px 0;
    font-size: 16px;
    position: relative;
}

.secondary_rubrics {
    display: none;
    position: absolute;
    background-color: #ddd;
    margin-top: 16px;
    width: 100%;
}

.secondary_rubrics a {
    padding: 8px 0;
    width: 100%;
    display: block;
}

.secondary_rubrics a:link , .secondary_rubrics a:visited, .secondary_rubrics a:hover {
    color: black;
    text-decoration: none;
}

.secondary_rubrics a:active {
    color: #777;
    text-decoration: none;
}

.main_rubric:hover {
    background-color: #555;
}

.main_rubric:hover .secondary_rubrics {
    display: block;
}

.secondary_rubrics a:hover {
    background-color: #ccc;
}

.vertical_menu {
	border-style: groove;
	text-align: center;
	line-height: 2.0;
	}

.vertical_links a: link, .vertical_links a:hover{
	text-decoration: none;
	}

.vertical_links a:hover{
	display: block;
	background-color: #ccc;
	}

